<%= form_with(url: import_csv_products_path, method: :post, local: true, html: { multipart: true }, class: "mb-7") do |form| %>
    <div class="mb-5">
        <%= form.file_field :file, accept: '.csv', class: "inline-block w-96 px-3 py-2 mt-2 shadow rounded-md border border-gray-200 outline-none" %>
        <%= form.submit "Upload", class: "btn py-2 ml-2 bg-blue-600 text-white" %>
    </div>
<% end %>
